---
layout: default
---
<h1 style=font-size:40px class="post-head" align="right"><b>Biswesh Mohapatra</b></h1>
<section>
  <div class="box" style="width:300px;float:left;">
    <img class="circular--landscape" src="/assets/images/profile.jpeg" alt="profile image" width="280" height="310"  style="border-radius:40px;"/>
  </div>
  <div style="text-align: justify;">
			<p>
				I am currently a fifth-year Integrated Master of Technology (Bachelors + Masters) student majoring in Computer Science and Engineering at <a href="https://www.iiitb.ac.in/">IIIT Bangalore, India</a>.
			</p>
      <p>
				I have a keen interest on working in the field of Machine Reasoning. I want to incorporate prior knowledge from structural information(like Knowledge Graphs) to make the models robust in various domains of Natural Language Processing(NLP). The emerging field of Neuro-Symbolic AI has recently captured my attention. Besides this, I have experience working on various NLP fields especially in Task Oriented Dialog Systems, Machine Translations, Knowledge Graphs and Ontologies.
      </p>
  </div>
  <p style="text-align: justify;">
    Currently, I am working on a project on incorporating Ontological Information into embeddings for faster reasoning as part of my Master’s thesis under <a href="https://www.iiitb.ac.in/faculty/g-srinivasaraghavan">Prof. G. Srinivasaraghavan</a> in collaboration with IBM Research AI(<a href="http://sumitbhatia.net/">Sumit Bhatia</a>) and <a href="https://kracr.github.io/">Knowledgable Computing and Reasoning Lab</a>.
  </p>
  <p style="text-align: justify;">
   For information about my publications click <a href="https://scholar.google.com/citations?view_op=list_works&hl=en&user=9AlBCIkAAAAJ">here</a>. I am open to collaborating with like minded researchers and can be reached out via any of the means provided at the end of the page.
  </p>
  <h3>News</h3>
    <table style="font-size: 14px; height:155px;display:block;overflow:scroll">
      <tr>
        <td style="white-space:nowrap">16-18 Dec, 2020</td>
        <td>I will be attending the <a href="https://labs.iitgn.ac.in/datascience/indoml/">Indian Symposium on Machine Learning</a></td>
      </tr>
      <tr>
        <td>11 Dec, 2020</td>
        <td>I will be attending the <a href="https://www.ssnlp.org/">Singapore Symposium on Natural Language Processing</a></td>
      </tr>
      <tr>
        <td style="white-space:nowrap">23-27 Nov, 2020</td>
        <td>Attended the <a href="http://www.kgswc.org/">International Winter School on Knowledge Graphs and Semantic Web</a></td>
      </tr>
      <tr>
        <td>19-23 Oct, 2020</td>
        <td>Present our paper on incorporating autonomous  bargaining capabilities into  E-Commerce Systems at <a href="https://iva2020.psy.gla.ac.uk/">ACM International Conference on Intelligent Virtual Agents</a></td>
      </tr>
      <tr>
        <td>15 May, 2020</td>
        <td>I will be interning at IBM Research during the summer</td>
      </tr>
  </table>
</section>
